# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

# Contao
/.htaccess
/*.xml
/contao/update.phar.php
/share/*.xml
/system/cache/*
/system/cron/cron.txt
/system/logs/*
/system/tmp/*


# See contao/core#7576
!/assets/css/index.html
!/assets/images/*/index.html
!/assets/js/index.html
